*{
    margin: 0; 
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.inicio{
    width: 150px;   
    height: 150px;
    margin: 50px auto;
    background-color: rebeccapurple;
}

.inicio:hover{
    width: 200px;
    height: 200px;  
    box-shadow:10px 10px 5px black;
    cursor: pointer;
}